@charset "UTF-8";

/* gnb */
.btn-gnb {position:absolute; top:15px; left:10px}
.btn-gnb .fa-bars {color:#fff; font-size:20px;}
.gnb-wrap {display:none;/*display:none; position:fixed; top:0; bottom:0; left:0; right:0; background-color: rgba(0,0,0,0);*/ }
.gnb-wrap .gnb-container {position:absolute; bottom:0; top:0; left:-1000px; width:300px; background-color:#81d4fa; /* transition: left 0.5s; */}
.gnb-wrap .gnb-head {height:55px; background-color:#4ba3c7;}
.gnb-wrap ul > li {border-bottom:1px solid #fff}
.gnb-wrap ul > li > a {display:inline-block; width:100%; padding:20px; font-size:16px; box-sizing: border-box; background-color:#b6ffff;}
.gnb-wrap .gnb-close {position:absolute; top:12px; right:20px}
.gnb-wrap .gnb-close .fa-times {color:#000; font-size: 30px;}
.gnb-back {position:fixed; top:0; bottom:0; left:0; right:0; background-color: #000; opacity: 0;}

.gnb-wrap.open {display:block;}
.gnb-wrap.open .gnb-back {opacity: 0.7;}


/* btn */
[class^="btn-"] {display:inline-block; height:28px; line-height: 28px; padding:0 10px; border:1px solid transparent; border-radius: 20px; font-weight: bold; white-space: nowrap; font-size:16px; vertical-align: 0;}
.btn-def {border-color:#ccc}
.btn-pri {color:#fff; background-color:#28b5f4}



/* tab */
.tab-head {background-color: #fff;}
.tab-head ul {display:flex;}
.tab-head ul > li {border: 1px solid #ccc; margin-right:-1px}
.tab-head ul > li > a {display:inline-block; padding:10px 30px; font-size:16px; font-weight: bold;}
.tab-head ul > li.active {border-bottom:5px solid #28b5f4}
.tab-body > .tabContent {display:none; padding:20px;}
.tab-body > .tabContent.on {display:block}


/* mobal */
.modal-wrap {display:none; position:fixed; top:0; right:0; bottom:0; left:0 ; background-color: rgba(0,0,0,.7);}
.modal-wrap.open {display:block}
.modal-wrap .modal-container {position:absolute; background-color:#fff}
.modal-wrap .modal-container .modal-head {padding:20px; border-bottom:1px solid #ccc}
.modal-wrap .modal-container .modal-body {padding:20px;}
.modal-wrap .modal-container .modal-close {position:absolute; top:15px; right:15px;}
.modal-wrap .modal-container .modal-close .fa-window-close {font-size:20px;}

.modal-wrap.type-01 .modal-container { left:50%; top:50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width:90%; max-width:700px; border:1px solid #ccc;}
.modal-wrap.type-01 .modal-container .modal-head {border-bottom:1px solid #ccc}
.modal-wrap.type-01 .modal-container .modal-body {overflow-y:auto; max-height:80vh; padding:20px}

.modal-wrap.type-full .modal-container {left:0; top:0; bottom:0; right:0}
.modal-wrap.type-full .modal-container .modal-body {position:absolute; bottom:0; top:55px; left:0; right:0; overflow-y:auto}


