@charset "UTF-8";

.g_wrap {padding-bottom:30px}
.g_wrap header {padding:15px; background-color:#0086c3}
.g_wrap header h1 {color:#fff; font-size:20px; text-align:center;}
.g_wrap header h1 .fab {color:#fff; font-size:20px; vertical-align: -1px;}
.g_tabHead {width:100%; overflow-y:hidden; background-color: #72e7ff;}
.g_tabHead::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/}
.g_tabHead ul {display:flex;}
.g_tabHead ul > li {border: 5px solid transparent;}
.g_tabHead ul > li > a {display:inline-block; padding:10px 30px;font-size:16px; font-weight: bold;}
.g_tabHead ul > li.active {border-bottom-color:#28b5f4}
.g_tabBody > .tabContent {display:none; padding:20px}
.g_tabBody > .tabContent.on {display:block}
.g_tabBody > .tabContent .contBody + h2 {margin-top:20px}
h2 {font-size:16px; margin-bottom:20px;}
h3 {font-size:14px; margin-bottom:15px}


xmp {overflow:auto; border-radius:10px; color:#fff; line-height:1.5; font-family: 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif; background-color:#333}
.btn-show {float:right; position: relative; margin:-60px 30px 0 0; z-index:1; width:30px; height:30px; border-radius: 100%; background-color:#8bf6ff}
.btn-show::before {content: "\22BB"; font-size:20px; font-weight: bold}
.btn-show.on::before {content: "\22BC"; font-size:20px; font-weight: bold}
xmp.scroll {max-height:300px}
xmp.scroll.on {max-height:none}
hr {margin:20px 0;}

.tab-body .tabContent:nth-child(1) {background-color:#4db6ac}
.tab-body .tabContent:nth-child(2) {background-color:#82e9de}
.tab-body .tabContent:nth-child(3) {background-color:#00867d}


/* gnb */
.g-btn-gnb {position:absolute; top:15px; left:10px}
.g-btn-gnb .fa-bars {color:#fff; font-size:20px;}
.g-gnb-wrap {display:none; position:fixed; z-index:999; bottom:0; top:0; right:0; left:0;}
.g-gnb-wrap .gnb-container {position:absolute; bottom:0; top:0; left:-1000px; width:300px; background-color:#81d4fa; /* transition: left 0.5s; */}
.g-gnb-wrap .gnb-head {height:50px; background-color:#4ba3c7;}
.g-gnb-wrap .gnb-container > ul > li {margin-bottom:1px}
.g-gnb-wrap .gnb-container > ul > li > a {display:inline-block; width:100%; padding:20px; font-size:16px; box-sizing: border-box; background-color:#b6ffff;}
.g-gnb-wrap .gnb-container > ul > li > a::before {content: "\258E"; color:#4ba3c7}
.g-gnb-wrap .gnb-container > ul > li > ul {padding:0 0 0 30px; margin:10px 0}
.g-gnb-wrap .gnb-container > ul > li > ul > li {padding:10px}
.g-gnb-wrap .gnb-close {position:absolute; top:9px; right:10px}
.g-gnb-wrap .gnb-close .fa-times {color:#000; font-size: 30px;}
.g-gnb-back {position:absolute; top:0; bottom:0; left:0; right:0; background-color: #000; opacity: 0;}

.g-gnb-wrap.open {display:block;}
.g-gnb-wrap.open .g-gnb-back {opacity: 0.7;}

.contBody.col2 > .column {padding:0 5px}
.contBody > ul {margin-bottom:10px; line-height: 1.4;}
.contBody > ul > li > ul {margin-bottom:5px; padding-left:10px; line-height: 1.4;}



footer {position:fixed; bottom:0; z-index: 10; width:100%; text-align:center; background-color: #000;}
footer p {height:30px; line-height: 30px; color:#fff;}